


        <div class="col-md-4">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModal-label">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-control">

                            <input type="text" placeholder="GIRIS YAP" class="form-control" id="text" name="text" />


                        </div>
                    

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btnOk" onclick="">ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Close</button>
                    </div>
                </div>

            </div>



        </div>

